---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Hola!</h1>
			<p>
				Bienvenido al sitio oficial de ITCaracas, una página web dedicada al soporte técnico en Venezuela.
			</p>
			<p>
				Es la primera plataforma de Soporte Técnico Autónomo Venezolana, impulsada por Inteligencia Artificial.
			</p>
			<p>
			ITCaracas es un ecosistema de soporte de primer nivel que combina la potencia de la Inteligencia Artificial avanzada 
			con un agente local multiplataforma. Cuando un equipo experimenta lentitud, caídas de software o errores de sistema, 
			nuestra plataforma busca automatizar el proceso completo de diagnóstico y reparación sin saturar a su equipo de TI.
			</p>
		</main>
		<Footer />
	</body>
</html>
